<body>
	<div class="row">
		<div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			<h3>Edition window</h3>
			<p style="text-align: justify;">
				To open the Soploon customization window, you have to press the <img src="./images/edit.png"/> <b>edit</b> toolbar button.
				<div style="text-align: center;">
					<img class="image" src="./images/press_edit.png" border="3"></img>
				</div><br/>
				The customization window will be opened. This windows has two tabs.
				<ul>
					<li>The <b>rules</b> tab, which lists every rule already defined. On this tab you can and add new rules, and edit or desactivate existing ones.</li>
					<li>The <b>predicates</b> tab, which lists predefined sets of auxiliary predicates included in Soploon to facilitate the teacher’s work when specifying new rules. On this tab you can add new auxiliary predicates, and edit or delete existing ones.</li>
				</ul>
			</p>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<div id="Carousel" class="carousel slide">
						<div class="carousel-inner">
						    <div class="item active">
						        <img src="./images/edit_carousel/customization_win.png" class="img-responsive"></img>
						        <div class="carousel-caption d-none d-md-block">
								    <h4>Rules edition tab</h4>
								</div>
						    </div>
						    <div class="item">
						        <img src="./images/edit_carousel/desactivate_rule.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Desactivate rules</h4>
								</div>
						    </div>
						    <div class="item">
						        <img src="./images/edit_carousel/editing_rule.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Edite existing rules</h4>
								</div>
						    </div>
						    <div class="item">
						        <img src="./images/edit_carousel/new_rule.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Add new rules</h4>
								</div>
						    </div>
						    <div class="item">
						        <img src="./images/edit_carousel/customization_win_p.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Auxiliary predicates edition tab</h4>
								</div>
						    </div>
						     <div class="item">
						        <img src="./images/edit_carousel/editing_predicate.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Edit existing predicates sets</h4>
								</div>
						    </div>
						    <div class="item">
						        <img src="./images/edit_carousel/new_predicate.png" class="img-responsive"></img>
						    	<div class="carousel-caption d-none d-md-block">
								    <h4>Add new predicates sets</h4>
								</div>
						    </div>
						</div>
						<span class="left carousel-control" data-target="#Carousel" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						</span>
						<span class="right carousel-control" data-target="#Carousel" data-slide="next">
						   <span class="glyphicon glyphicon-chevron-right"></span>
						</span>
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<hr/>
			<h3>Adding a rule</h3>
			<p style="text-align: justify;">
				An example of how adding a rule and some tips to define your own rules will be avaible here soon...
			</p>
		</div>
		<div class="col-xs-0 col-md-2"></div>
	</div>
</body>