<body>
	<div class="row">
		<div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			<h3>Soploon user interface</h3>
			<p style="text-align: justify;">
				Soploons adds four components to the Eclipse UI.
				<ul>
					<li style="text-align: justify;">The <img src="./images/lupa.png"/> <b>check</b> toolbar button that starts the code analysis.</li>
					<li style="text-align: justify;">The <img src="./images/edit.png"/> <b>edit</b> toolbar button that opens the Soploon customization window.</li>
					<li style="text-align: justify;">The <img src="./images/translate.png"/> <b>translation</b> view that shows the Prolog representation of the last Java source code analyzed.</li>
					<li style="text-align: justify;">The <img src="./images/icon.png"/> <b>corrections</b> view that lists the errors detected in the last analysis.</li>
				</ul>
			</p>
			<hr/>
			<h3>How to analyze a Java project</h3>
			<ol>
				<li style="text-align: justify;">First, select a Java project in the Eclipse package explorer.</li>
				<br/>
				<div style="text-align: center;">
					<img class="image" src="./images/select_project.png" height="100" border="3"></img>
				</div>
				<br/>
				<li style="text-align: justify;">Once you have selected the Java project, press the <img src="./images/lupa.png"/> <b>check</b> toolbar button.</li>
				<br/>
				<div style="text-align: center;">
					<img class="image" src="./images/press_check.png" height="100" border="3"></img>
				</div>
				<br/>
				<li style="text-align: justify;">When the analysis completes, the <img src="./images/translate.png"/> <b>translation</b> view will show you the Prolog representation of the selected Java project, and the <img src="./images/icon.png"/> <b>corrections</b> view will list the detected errors.</li>
				<br/>
				<div style="text-align: center;">
					<img class="image" src="./images/errors.png" height="70" border="3"></img>
				</div>
				<br/>
				<li style="text-align: justify;">Double-click any error and Soploon will take you to the code fragment containing the clicked error.</li>
				<br/>
				<div style="text-align: center;">
					<img class="image" src="./images/highlight.png" height="170" border="3"></img>
				</div>
				<br/>
			</ol>
		</div>
		</div>
		<div class="col-xs-0 col-md-2"></div>
	</div>
</body>