<body>
	<div class="row">
		<div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			<h3>Download</h3>
			<hr/>
				In order to install Soploon, first you have to download it from <a href="./data/Soploon.rar" download="">here</a>.
			<h3>Installation</h3>
			<hr/>
			Once you have downloaded <b>Soploon.rar</b>, you must follow the next instructions:
			<ol>
				<li>First, you have to open the <b>installation folder of Eclipse</b> (<i>where eclipse.exe is located</i>).</li>
				<li>Once there, you have to open the folder named <b>dropins</b>.</li>
				<li>Inside <b>dropins</b> you have to create a folder named <b>plugins</b>.</li>
				<li>Finally, you have to drop the content of the <b>Soploon.rar</b> file into the folder <b>plugins</b> created in the previous step.</li>
			</ol>

			The final result should look like this:<br/><br/>
			<div style="text-align: center;">
				<img class="image" src="./images/install.png" border="3"></img>
			</div>
		</div>
		<div class="col-xs-0 col-md-2"></div>
	</div>
</body>