<body>
	<div class="row">
		<div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			<h3>Install into Eclipse</h3>
			<hr/>
				Soploon is installable via the Eclipse software manager. </br>
				</br>
				<ol>
					<li>Open the <b>Eclipse Software Manager</b>: <I>Help → Install New Software...</i> (depending on your Eclipse version).</li>
					</br>
					<div style="text-align: center;">
						<img class="image" src="./images/install_new_software.jpg" height="250" border="3"></img>
					</div>
					</br>
					<li>Add the <b>Soploon repository</b> to the list of repositories: <u><i>http://si.isistan.unicen.edu.ar/soploon/p2/</i></u></li>
					</br>
					<div style="text-align: center;">
						<img class="image" src="./images/add_repo.jpg" height="120" border="3"></img>
					</div>
					</br>
					<li>Select <b>Soploon</b> from the list of features avaible in the repository.</li>
					</br>
					<div style="text-align: center;">
						<img class="image" src="./images/select_soploon.jpg" height="60" border="3"></img>
					</div>
					</br>
					<li>Click <b>next</b> and follow the instructions</li>
				</ol>
			
			<h3>Load Soploon configuration</h3>
			<hr/>
				You can configure Soploon to detect the errors you want. However, there is avaible a predefined set of rules and predicates that you can add to your Soploon.</br>
				</br>										
				The lastest version predicates and rules are avaible on the next links:</br>
				&emsp;- <a href="./data/predicates.xml" download="">Predicates</a></br>
				&emsp;- <a href="./data/rules.xml" download="">Rules</a></br>
				</br>
				On the "Soploon Editor" window, you have the option to load external rules and auxiliary predicates from files.</br>
				</br>
				<div style="text-align: center;">
					<img class="image" src="./images/load_rules.jpg" height="400" border="3"></img>&emsp;&emsp;
					<img class="image" src="./images/load_predicates.jpg" height="400" border="3"></img>
				</div>
				</br>
		</div>
		<div class="col-xs-0 col-md-2"></div>
	</div>
</body>