<body>
	<div class="row">
		<div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">

			<h3>Soploon</h3>
				<p style="text-align: justify;">
					Teaching Object Oriented Programming (OOP) is a challenging task. The process of learning programming usually presents a wide range of difficulties to students and novice programmers. Students need to practice a lot and do many programming exercises to learn how to program correctly. Teachers must assess the students' source codes in order to detect errors and misconceptions about OOP. However, when a teacher has to asses tons of works, they may start to not paying the enough attention and overlook some student errors. An incomplete feedback of the students’ source codes may hinder the students learning process. If the teacher does not detect and address the student’s misconceptions on time, the student will learn wrong concepts taking them as correct.
				</p>

				<div style="text-align: center;">
					<img class="image" src="./images/intro.png" border="3" style="max-width: 70%;"></img>
				</div><br/>

				<p style="text-align: justify;">
					In this context, we present Soploon. Soploon is a tool for assisting teachers in the students' source code assesment task. The tool automatically detects object-oriented error in the students' source codes and notifies the teacher about them. Moreover, Soploon is customizable, so the teacher can specify the particular errors that his/her students are used to making in order to detect them. After detecting an error, Soploon is capable of locating and highlighting the code fragment containing the error. By using this tool, teachers can reduce the number of overlooked errors. Thus, students receive a more complete and exhaustive feedback about their errors and misconceptions, improving the students learning process.
				</p>

     		<h3>Contact</h3>
            <div class="row">
	            <div class="col-xs-12 col-md-4" style="text-align: center;">
	                <span class="glyphicon glyphicon-map-marker"></span>
	                <p class="contact-paragraph">ISISTAN - UNCPBA
	                  <br/>Campus Universitario - Tandil
	                  <br/>Buenos Aires - Argentina
	                </p>
	            </div>
	            <div class="col-xs-12 col-md-4" style="text-align: center;">
	                <span class="glyphicon glyphicon-earphone"></span>
	                <p class="contact-paragraph">+54 249 4385682
	                  <br/>Int. 2302
	                </p>
	            </div>
	            <div class="col-xs-12 col-md-4" style="text-align: center;">
					<span class="glyphicon glyphicon-envelope"></span>
	                <p class="contact-paragraph">sebastian.vallejos@isistan.unicen.edu.ar</p>
	            </div>
            </div>
       	</div>

		<div class="col-xs-0 col-md-2"></div>
	</div>
</body>