<body>
	<div class="row" style="margin-top: 20px;">
    <div class="col-xs-0 col-md-2"></div>
		<div class="col-xs-12 col-md-8">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-12">
          <div class="input-group">
              <input ng-model="search.description['#text']" type="text" class="form-control" placeholder="Search syntactic structure..."></input>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
          </div>
        </div>
      </div >

      <uib-accordion close-others="false">
        <div ng-repeat="predicate in predicates | filter:search" style="margin-bottom: 5px;">
          <div uib-accordion-group="" class="panel-default" heading="{{predicate.name['#text'].trim()}}">
            <h4>Description</h4>
            {{ predicate.description["#text"].trim() }}
            <hr/>
            <h4>Prolog code</h4>
            <code class="col-xs-12 wordwrap">{{ predicate["predicate-name"]['#text'].trim() }}</code>
          </div>
        </div>
      </uib-accordion>
    </div>
    <div class="col-xs-0 col-md-2"></div>
	</div>
</body>


